# Disable directory browsing
Options -Indexes

# Set index file
DirectoryIndex index.php

# Deny all access to files except index.php
<FilesMatch "^(?!index\.php$).*$">
    Deny from all
</FilesMatch>
